<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izo.camp.mapper.AddmoneyMapper">
	
	<!-- 카드 등록하기 -->
	<insert id="registCard" parameterType="addmoneyVO">
		INSERT INTO ADDMONEYTABLE(
		IDX, ID, CARDNO, CVCNO, SIMPLEPWD, ADDEDMONEY, TOTALMONEY, VALIDCARDDATE, ADDMONEYDATE)
		VALUES(seq_addmoney.nextval, #{id}, #{cardno}, #{cvcno}, #{simplepwd}, 
		0, 0, #{validcarddate}, null)
	</insert>
	
	<!-- 카드 조회하기 -->
	<select id="searchCardNo" resultType="String" parameterType="addmoneyVO">
		select nvl(cardno, 'none') from addmoneytable 
		right outer join dual on id=#{id} and cardno=#{cardno}
	</select>
</mapper>












