<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izo.camp.mapper.CampInfoMapper">
	
	<!-- 현재 캠핑장이 db에 등록되어있는지 확인하는 --> 
	<select id="getTotalNum" resultType="int">
		SELECT count(*) FROM campingTable
	</select>
	<!-- private int idx;
	private String name;
	private double latitude;
	private double longitude;
	private String address;
	private String tell;

	 -->
	 
	<insert id="addNewCamp" parameterType="campInfoVO">
		INSERT INTO CAMPINGTABLE
		(IDX, NAME, LATITUDE, LONGITUDE, ADDRESS, TELL)
		VALUES(SEQ_CampingArea.NEXTVAL,#{name},#{latitude},#{longitude},#{address},#{tell})
	</insert>
	
	<!-- <![CDATA[>]]> -->
	
	<select id="nearCampArea" parameterType="map" resultType="campInfoVO">
		<![CDATA[
			SELECT * FROM CAMPINGTABLE
			WHERE latitude > #{lat}
		]]>
	</select>
</mapper>












