<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izo.camp.mapper.MemberMapper">

	<!-- 테이블 목록조회 -->
	<select id="memberlist">
		select * from membertable
	</select>
	
	<!-- 아이디 idx -->
	<select id="idIdx" resultType="int" parameterType="String">
		SELECT nvl(idx, 0) FROM MEMBERTABLE RIGHT OUTER JOIN dual ON id=#{id}
	</select>
	
	<!-- 이름, 이메일 일치하는 idx 반환 -->
	<select id="memberIdx" resultType="int" parameterType="memberVO">
		select nvl(idx, 0) from membertable right outer join dual on name=#{name} and email=#{email}
	</select>
	
	<!-- 아이디, 비번 일치하는 idx 반환 -->
	<select id="memberIdxFromId" resultType="int" parameterType="memberVO">
		select nvl(idx, 0) from membertable right outer join dual on id=#{id} and pwd=#{pwd}
	</select>
	
	<!-- 회원정보 추가하기 -->
	<insert id="insertInfo" parameterType="memberVO">
		insert into membertable values(
			seq_member.nextval,
			#{id},#{pwd},#{name},#{gender},#{email},#{hometel},#{mobiletel},#{addr},#{birth}
			)			
	</insert>
	
	<!-- 아이디 찾기(이름/생년월일/이메일) -->
		<select id="searchID" resultType="String" parameterType="memberVO">
			select nvl(id, 'none') from membertable right outer join dual on name=#{name} and birth=#{birth} and email=#{email}
		</select>
		
		<!-- idx로 비밀번호 변경하기 -->
		<update id="changePwd" parameterType="memberVO">
			update membertable set pwd=#{pwd} where idx=#{idx}
		</update>
		
	<select id="getAddress" resultType="String" parameterType="String">
		SELECT ADDR FROM MEMBERTABLE
		WHERE id = #{loginId}
	</select>
	
	<update id="changeEmail" parameterType="memberVO">
		update membertable set email=#{email} where id = #{id}
	</update>
	

</mapper>












