<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izo.camp.mapper.OrderMapper">
	
	<insert id="insertOrder">
		INSERT INTO ORDERTABLE
		(ORDERIDX, ORDERNUM, MEMBERID, PRODUCTID, PCS, TOTALPRICE, ORDERDATE)
		VALUES(SEQ_ORDER.NEXTVAL,#{orderNum}, #{memberId},#{productId}, #{pcs}, #{totalPrice}, SYSDATE)
		
	</insert>

</mapper>












