<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izo.camp.mapper.ReviewMapper">

	<select id="reviewlist" resultType="reviewVO">
		select * from reviewtable
	</select>
	
	<select id="reviewIdx" resultType="reviewVO">
		select * from reviewtable where idx=#{idx}
	</select>
	
	<insert id="reviewInsert" parameterType="reviewVO" >
			
		INSERT INTO REVIEWTABLE
(IDX, MEMBERID, PRODUCTID, TITLE, CONTENT, FILENAME, PWD, REGDATE, READHIT, JOAYO)
VALUES(SEQ_Review.nextVal, #{memberid}, #{productid}, #{title}, #{content}, #{filename}, #{pwd}, SYSDATE, 0, 0)
	</insert>
	

		<!-- 게시글 삭제하기 -->
	<delete id="reviewDelete" parameterType="java.util.HashMap">
		delete from reviewtable where idx=#{idx} and pwd=#{pwd}
	</delete>
	
	
	<!-- 조회수 증가 -->
	<update id="readhitCount">
		update reviewtable set
			readhit = readhit + 1
			where
			idx = #{idx}
	</update>

	

 		 <!-- 게시글 수정을 위한  조회 --> 
	<select id="reviewSelect" resultType="reviewVO" parameterType="int">
		select * from reviewtable where idx=#{idx}
	</select>
	
		<!-- 게시글 수정하기 -->
	<update id="reviewUpdate" parameterType="reviewVO">
	
		
		UPDATE REVIEWTABLE
		SET MEMBERID=#{memberid},
		PRODUCTID=#{productid},
		TITLE=#{title},
		CONTENT=#{title},
		FILENAME=#{filename},
		PWD=#{pwd},
		REGDATE=SYSDATE 
		WHERE IDX=#{idx}
		
	</update>
	
	<update id="joayoPush" parameterType="int">
			
		UPDATE REVIEWTABLE
		SET JOAYO=JOAYO+1
		WHERE 
		IDX=#{IDX}
		
	</update>
	
	

	
</mapper>